#canvas {
	margin-top: 1rem;
	background: #e1e1e1;
    width: 100%;
}
body {
    background: #f0f0f0;
}

.btn-disabled {
    color: #fff !important;
}

.row.md-3 {
    margin-bottom: 1rem;    
}

.navbar-brand {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}

.subtitle {
    color: #fff;
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}

h4 {
    color: #000;
    margin: -5px auto;
    font-weight: lighter;
    opacity: .8;
}



@media screen and (min-width: 300px) {
    .col-md-3, .btn-group {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin: 5px;
    }

    html {
        /* overflow: hidden; */
    }

    .navbar-brand a {
        /* font-size: inherit; */
        margin-bottom: 20px;
    }
}

